body { margin:15px; }
	fieldset{
 		 color: #000000;
	}
	
	.respo_details_backdrop{
		 /*margin-top:5px;*/
		  font-size: 12px;
		  /*font-weight: bold;*/
		   color: #000000;
		  background-color: #eeeeee;

	}
	.graybackdrop{
		 margin-top:5px;
		  font-size: 14px;
		  font-weight: bold;
		   color: inherit;
		  background-color: #eeeeee;
		  border: 1px solid #000000;
		  -webkit-border-radius: 6px;
		     -moz-border-radius: 6px;
		          border-radius: 6px;
	}
	.yellowbackdrop{
		   margin-top:5px;
		  font-size: 12px;
		  background-color: #FFFF99;
		  border: 1px solid #999900;
		  -webkit-border-radius: 6px;
		     -moz-border-radius: 6px;
		          border-radius: 6px;
	}

	.bluebackdrop{
		   margin-top:5px;
		  font-size: 12px;
		  background-color: #E7F0FB;
		  border: 1px solid #000000;
		  -webkit-border-radius: 6px;
		     -moz-border-radius: 6px;
		          border-radius: 6px;
	}

	.pagination {
 		 margin: 5px 0;
	}
	.floatingHeader {
      position: relative;
      top: 0;
      z-index: 200;
      /*visibility: ;*/
    }
    /*override bootstrap settings for tablebordered*/
  .table th{
  padding: 8px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  border-top: 1px solid #dddddd;
}

	/*div.respoGrid {*/
   /* background: $bgcolor;
    border: 1px solid $bgcolor;*/
    
    /*display: inline-block;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;*/
    
    /*padding: ($rowHeight + ($cellPadding * 2)) 0;*/
    
  /*  table { position: static; }
    thead, tfoot { position: absolute; z-index: 1   }
    thead { left: 0; top: 0; }
    tfoot { left: 0; bottom: 0; }
    tbody { 
        display: block;
        position: relative; overflow-y: scroll;
        height: 200px;
        width: 100%;
    }*/
/*}*/